<div class="table-container">
        <h2>Transaction Details</h2>

        <div class="filter">
            <label for="accNo">Enter Account number:</label>
            <input type="number" id="accNo" [(ngModel)]="accNo" placeholder="Enter Account Number" />
            <button (click)="getTransactions()">Get transaction history</button>
        </div>

        <table *ngIf="transacs; else noData">
            <thead>
                <tr>
                    <th>Transaction Id</th>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                    <th>Date</th>
                    <th>Account Number</th>
                    <th>To Account</th>
                    <th>Status</th>
                    <th>Comments</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let td of transacs">
                    <td>{{td.transacId}}</td>
                    <td>{{td.transacType}}</td>
                    <td>{{td.amount}}</td>
                    <td>{{td.timeStamps | date:('dd MMM yyyy hh:mm a')}}</td>
                    <td>{{td.accNo}}</td>
                    <td>{{td.toAcc}}</td>
                    <td>{{td.transacStatus}}</td>
                    <td>{{td.comments}}</td>
                </tr>
            </tbody>
        </table>
        <ng-template #noData>
            <p *ngIf="transacs">No transaction/s found for this Account number.</p>
        </ng-template>
    </div>