.bubbles {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0; left: 0;
  z-index: 1;
  overflow: hidden;
}

.bubbles span {
  position: absolute;
  display: block;
  width: 40px;
  height: 40px;
  background: rgba(144, 207, 237, 0.812);
  bottom: -100px;
  border-radius: 50%;
  animation: rise 20s infinite ease-in;
}

.bubbles span:nth-child(1) {
  left: 10%;
  animation-duration: 15s;
  width: 60px; height: 60px;
}
.bubbles span:nth-child(2) {
  left: 30%;
  animation-duration: 25s;
}
.bubbles span:nth-child(3) {
  left: 50%;
  animation-duration: 20s;
  width: 80px; height: 80px;
}
.bubbles span:nth-child(4) {
  left: 70%;
  animation-duration: 22s;
}
.bubbles span:nth-child(5) {
  left: 90%;
  animation-duration: 18s;
  width: 50px; height: 50px;
}

@keyframes rise {
  0% {
    transform: translateY(-1000px) scale(1.5);
    opacity: 0;
    
  }
  50% {
    opacity: 0.9;
  }
  100% {
    transform: translateY(0) scale(1);
    opacity: 0.6;
  }
}