<div class="container">
  <h2>Branch Details</h2>

  <!-- 🔹 Input for BranchId -->
  <div class="filter">
    <label for="branchId">Enter Branch ID:</label>
    <input type="number" id="branchId" [(ngModel)]="branchId" placeholder="Enter Branch ID" />
    <button (click)="getBranch()">Get Branches</button>
  </div>

  <!-- 🔹 Employee Table -->

  <div *ngIf="branch; else noData">
    <form #updateBr="ngForm" id="branchForm" (ngSubmit)="submit(updateBr)">
      <label for="branchId">Branch ID</label>
      <input type="number" name="branchId" [(ngModel)]="branch.branchId" readonly>

      <label for="branchName">Branch Name</label>
      <input type="text" name="branchName" [(ngModel)]="branch.branchName" placeholder="Enter Branch Name" required>

      <label for="branchName">Branch Name</label>
      <input type="text" name="branchName" [(ngModel)]="branch.branchName" placeholder="Enter Branch Name" required
        pattern="^[A-Za-z ]+$" minlength="2" #branchName="ngModel" />
      <div *ngIf="branchName.invalid && branchName.touched" class="text-danger">
        <small *ngIf="branchName.errors?.['required']">Branch name is required.</small>
        <small *ngIf="branchName.errors?.['minlength']">Minimum 2 characters required.</small>
        <small *ngIf="branchName.errors?.['pattern']">Only alphabets and spaces are allowed.</small>
      </div>

      <label for="ifscCode">IFSC Code</label>
      <input type="text" name="ifscCode" [(ngModel)]="branch.ifscCode" readonly>

      <input type="submit" value="Submit" class="btn-submit" [disabled]="updateBr.invalid">
    </form>
  </div>

  <ng-template #noData>
    <p *ngIf="branchId">No Branch for this BranchId</p>
  </ng-template>
</div>