.toast-container{
  position: fixed;
  top: 52px;
  right: 20px;
  min-height: 100px;
}
.toast {
  opacity: 0.95;
  padding: 20px;
  transition: opacity 0.5s ease-in-out;
}
.toast:hover {
  opacity: 1;
}