/* .list-group-item {
  cursor: pointer;
  border: 1px solid #ddd;
  border-radius: 5px;
  padding: 12px;
  margin-bottom: 8px;
}

.list-group-item:hover {
  background-color: #f8f9fa;
}

.card {
  border: none;
  border-radius: 10px;
} */